:root {
    --color-blue: #3369F3;
    --color-red: #FF0000;
    --color-grey: #999999;
    --color-white: #FFFFFF;

    --bg-grey: #EFEFEF;
    --bg-blue: #E4EDFD;
    --bg-color: #F8F8F8;

    --border-grey: #EAEAEA;

    --text-dark: #1E1E1E;
}
